language: php

php:
  - 5.4

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install
  - phpunit --configuration phpunit.travis.xml ./tests/com/mohiva/test/pyramid

notifications:
  email:
    - travis.mohiva.pyramid@mohiva.com
